@import '/home/valentin/.config/waybar/colorschemes/gruvbox.css';

* {
  border: none;
  border-radius: 7px;
  font-family: "RobotoMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @bg0;
  background-clip: padding-box;
  color: #cdd6f4;
}

tooltip {
  background: @bg0;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  border-color: @bg0;
  opacity: 1.0;
  color: @blue;
}

#workspaces button {
  padding: 3px;
  color: @purple;
  margin-right: 0px;
}

#workspaces button.active {
  color: white;
}

#workspaces button.focused {
  color: #a6adc8;
  background: @bg0;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #eb4d4b;
  border-radius: 10px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.75);
  color: #cdd6f4;
  border-radius: 10px;
}

#workspaces button:last-child {
  margin-right: 9px;
}

#custom-wallpaper,
#clock,
#window,
#battery,
#custom-battery-degradation,
#pulseaudio,
#network,
#custom-notifications,
#bluetooth,
#workspaces,
#custom-noscreenshare,
#custom-lock,
#cpu,
#memory,
#tray,
#backlight {
  color: @aqua;
  background: @bg0;
  opacity: 1.0;
  padding: 0px 10px;
  border: 0px solid @fg0;
}

#custom-lock {
  color: @red;
  font-size: 17px;
  padding-left: 8px;
  padding-right: 13px;
  margin-left: 5px;
  margin-right: 0px;
  border-radius: 10px;
}

#custom-notifications {
  color: @yellow;
  border-radius: 10px;
  margin-right: 5px;
  padding-right: 13px;
  font-size: 17px;
  min-width: 17px;
}

#custom-notifications.off {
  font-size: 17px;
}

#custom-noscreenshare {
  border-radius: 10px;
  margin-right: 5px;
}

#custom-noscreenshare.on {
  font-size: 18px; 
  padding-right: 14px;
}

#custom-noscreenshare.off {
  font-size: 16px;
  padding-right: 16px;
  padding-left: 9px
}

#cpu {
  color: @orange;
  border-radius: 0px 10px 10px 0px;
  border-left: 0;
  min-width: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

#memory {
  color: @orange;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 50px;
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
}

#custom-wallpaper {
  padding-right: 7px;
}

#backlight {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 0px;
}

#custom-wallpaper {
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: @yellow;
}

#clock.date {
  color: @red;
  border-radius: 10px;
  margin-left: 5px;
  padding: 0px 10px;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @bg0;
  border-radius: 10px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: @red;
  border-radius: 10px 0px 0px 10px;
}

#network {
  color: @green;
  padding-right: 0px;
  /* color: #f9e2af; */
  border-radius: 10px 0px 0px 10px;
  /* min-width: 210px; */
  border-right: 0px;
  margin-left: 5px;
}

#bluetooth {
  color: @green;
  /* color: #89b4fa; */
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
  border-left: 0;
}

#pulseaudio {
  color: @aqua;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 0px;
  /* color: #89b4fa; */
  border-left: 0px;
  border-right: 0px;
  min-width: 50px;
}

#pulseaudio.microphone {
  color: @aqua;
  /* color: #cba6f7; */
  border-left: 0px;
  border-right: 0px solid @fg0;
  margin-left: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#battery {
  color: @blue;
  padding-right: 10px;
  margin-right: 5px;
  border-radius: 10px 10px 10px 10px;
  min-width: 50px;
}

#custom-battery-degradation {
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
  min-width: 35px;
}

#battery.critical {
  color: red;
}
